<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{common.header}"></title>
</head>
<body>
    <h1 th:text="#{common.title}"></h1>
    <h2 th:text="#{input.subtitle}"></h2>
    <form method="post" action="/output">
    <p th:text="#{input.inputtext}"></p>
    <p th:unless="${previous} eq null" th:text="#{input.previous1} +${previous} +#{input.previous2}"></p>
    <input type = "text" name = "val">
    <button type="submit" th:text="#{input.submitbutton}">
    </form>
</body>
</html>